@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*,body { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

ul { 
    list-style: none;
}
:root { 
    --fonts : "Nunito", sans-serif;
}
.container  {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.header { 
    text-transform: uppercase;
    font-family: var(--fonts);
    text-align: center;
    padding: 1rem 0;
}
.main { 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.main_section_header { 
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.block{ 
    display: flex;
    color: red;
}
.main_body_choice { 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.main_body_choice-row { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_header_title { 
    text-align: center;
    text-transform: uppercase;
    font-family: var(--fonts);
    font-size: 33px;
}
#block_modelPlayer,#block_modelCPU {
    border: 2px solid black;
    width: 200px;
    height: 200px;
}
.main_body_choice-obj  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}
.main_body_choice-obj > li >img { 
    width: 150px;
    height: 150px;
}
.main_footer{ 
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
}
.footer_row  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 20px;
}
.footer_row > a { 
    display: flex;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black;

}
.footer_row > a > img { 
    width: 30px;
    transform: scale(1);
    transition: all 0.3s;
}
.footer_row > a > img:hover { 
    width: 30px;
    transform: scale(-1, 1);
        transition: all 0.3s;

}
#paper,#rock,#scissors { 
    transition: all 0.4s;
}
 #paper:hover { 
    transform: scale(1.3);
    transition: all 0.3s;
}

#rock:hover { 
    transform: scale(1.3);
    transition: all 0.3s;

}

#scissors:hover { 
    transform: scale(1.3);
    transition: all 0.3s;

}
