@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*,body { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container { 
    background-color: var(--bg);
}

ul { 
    list-style: none;
}
:root { 
    --fonts : "Nunito", sans-serif;
    --gr : #c5c5c5;
    --gr_s: #9ccdf0;
    --wh_g: #e8e8e8;
    --wh_s: #c0c0c0;
    --bw: #434343;
    --bg: #f1f6f9;
    --bg_modal: #3e4e59;
}
.container  {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.header { 
    text-transform: uppercase;
    font-family: var(--fonts);
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    padding: 1rem 0;
}
.main { 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.main_section_header { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;

}
.block{ 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: var(--fonts);
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem 0;
    gap: 1rem;

}

.main_body_choice { 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 2rem 0;
}
#countPlayer, #countComputer { 
    border: 2px solid black;
    padding: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.main_body_choice-row { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main_body_choice-row > h2 { 
    margin-bottom: 50px;
    font-size: 40px;
}
.main_header_title { 
    text-align: center;
    text-transform: uppercase;
    font-family: var(--fonts);
    font-size: 33px;
}
#block_modelPlayer,#block_modelComputer {
    border: 2px solid black;
    width: 200px;
    height: 200px;
}
.main_body_choice-obj  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}
.main_body_choice-obj > li >img { 
    width: 150px;
    height: 150px;
}
.main_footer{ 
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
}
.footer_row  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 20px;
}
.footer_row > a { 
    display: flex;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black;

}
.footer_row > a > img { 
    width: 30px;
    transform: scale(1);
    transition: all 0.3s;
}
.footer_row > a > img:hover { 
    width: 30px;
    transform: scale(-1, 1);
        transition: all 0.3s;

}
#paper,#rock,#scissors { 
    transition: all 0.4s;
}
 #paper:hover { 
    transform: scale(1.3);
    transition: all 0.3s;
}

#rock:hover { 
    transform: scale(1.3);
    transition: all 0.3s;

}

#scissors:hover { 
    transform: scale(1.3);
    transition: all 0.3s;

}

#modal_window { 
    width: 100%;
    height: 80%;    
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    visibility: hidden;

}
.model_window_style{ 
    width: 200px;
    height: 300px;
    border: 2px solid black;
    background-color: var(--bw);
    font-family: var(--fonts);
}
.model_window_row { 
    background-color: var(--bg_modal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
}
#status_game > p { 
    color: var(--gr_s);
    font-weight: 900;
    font-family: var(--fonts);
    font-size: 40px;
}
#restart_game { 
    border: none;
    font-size: 30px;
    font-weight: 900;
    font-family: var(--fonts);
    background-color: transparent;
    text-transform: uppercase;
    color: var(--wh_g);
}
#block_rock { 
    background-image: url("imgs/502-5025794_rock-paper-scissors-clipart-hd-png-download-Photoroom.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 400px;
    margin-top: 20px;
}
#block_paper { 
    background-image: url("imgs/280-2802166_rock-paper-scissors-clipart-png-download.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 400px;
}
#block_scissors { 
    background-image: url("imgs/rock-paper-scissors-rock-paper-scissors-clipart-1176494-Photoroom.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 400px;
}
